* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#inventory {
    position: absolute;
    left: 10px;
    top: 10px;
}

#inventoryContainer {
    height: 500px;
    width: 500px;
    border: 5px solid green;
    margin: auto;
    background-color: #00000080;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.3s linear;
    z-index: -9;
    overflow: overlay;
}

.itemsContainers {
    border: 5px solid green;
    border-radius: 10px;
    padding: 10px;
    display: inline-block; 
    margin: 10px;
    text-align: center;
    transition: 0.5s linear;
}

.p {
    margin-top: 10px;
    margin-bottom: 5px;
}

#pickUpItemsContainer {
    margin: auto;
    position: absolute;
    top: 400px;
    left: 20px;
}

#volvoPickUpItem {
    position: absolute;
    top: 70%;
    left: 5%
}

#bmwPickUpItem {
    position: absolute;
    top: 10%;
    left: 40%;
}

#teslaPickUpItem {
    position: absolute;
    top: 30%;
    left: 70%;
}

#audiPickUpItem {
    position: absolute;
    top: 50%;
    left: 60%;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}


