@font-face {
    font-family: monofont;
    src: url(monofont.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: monofont;
    transition: 0.8s linear;
}

body {
    background-color: black;
    background-image: url(black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    transition: 1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#afterNineYears {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: absolute;
    text-transform: uppercase;
    font-size: 90px;
    opacity: 0;
}

#pipBoy3000 {
    position: absolute;
    width: 200px;
    top: 59%;
    left: 50%;
    opacity: 0;
}

#infoBoxTopLeft {
    box-sizing: border-box;
    padding: 8px;
    max-width: 50%;
    display: block;
    font-size: 22px;
    color: #10b982;
    /* background: rgba(62, 88, 40, 0.65); */
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 0 0 4px black;
    /* box-shadow: 0px 0px 6px 3px rgba(62, 88, 40, 0.65); */
    opacity: 0;
    font-family: sans-serif;
}
#infoBoxTopLeft:before {
    content: "";
    height: 3px;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(to right, #34c470 20%, rgba(255, 255, 255, 0) 100%);
}
#infoBoxTopLeft:after {
    content: "";
    height: 100%;
    width: 3px;
    left: 0;
    top: 0px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(52,196,112,1) 0%, rgba(255, 255, 255, 0) 100%);
}
#infoBoxTopLeftGeneral {
    font-family: sans-serif;
}
#infoBoxTopLeftDivider{
    height: 3px;
    width: 100%;
    background: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(52,196,112,1) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    display: none;
}
#infoBoxTopLeftSpecific {
    font-family: sans-serif;
}

#dialogueContainer {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(52,196,112,1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 75%, rgba(52,196,112,1) 100%);
    border-image-slice: 2%;
    box-sizing: border-box;
    padding: 1% 1%;
    text-align: center;
    font-size: 28px;
    background: rgba(62, 88, 40, 0.65);
    color: #caffa8 !important;
    z-index: 999;
    width: 70%;
    position: absolute;
    bottom: 10%;
    opacity: 0;
}

#talkerName {
    color: #16eaa6;
    position: absolute;
    right: 5%;
    top: 17%;
    font-size: 160%;
    text-shadow: 0 0 4px black;
    opacity: 0;
}