@font-face {
    font-family: monofont;
    src: url(monofont.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: monofont;
    transition: 0.8s linear;
}

body {
    background-color: black;
    background-image: url(black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    transition: 1s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoBoxTopLeft {
    box-sizing: border-box;
    padding: 8px 12px 12px 8px;
    max-width: 50%;
    display: block;
    font-family: sans-serif;
    font-size: 22px;
    color: #10b982;
    /* background: rgba(62, 88, 40, 0.65); */
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 0 0 4px black;
    /* box-shadow: 0px 0px 6px 3px rgba(62, 88, 40, 0.65); */
    opacity: 0;
    font-family: sans-serif;
}
#infoBoxTopLeft:before {
    content: "";
    height: 3px;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(to right, #34c470 20%, rgba(255, 255, 255, 0) 100%);
}
#infoBoxTopLeft:after {
    content: "";
    height: 100%;
    width: 3px;
    left: 0;
    top: 0px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(52,196,112,1) 50%, rgba(255, 255, 255, 0) 100%);
}
#infoBoxTopLeftGeneral {
    font-family: sans-serif;
}
#infoBoxTopLeftDivider{
    height: 3px;
    width: 100%;
    background: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(52,196,112,1) 50%, rgba(255, 255, 255, 0) 100%);
}
#infoBoxTopLeftSpecific {
    font-family: sans-serif;
}

#playpenSelectArea {
    height: 73%;
    width: 64%;
    background-color: rgb(52, 196, 112);
    position: absolute;
    top: 22%;
    left: 28%;
}
.selectionArea {
    opacity: 0;
    cursor: pointer;
    transition: 0.1s linear;
}

.selectionArea:hover {
    opacity: 0.3;
}
.objectPointingArrowGoToFather {
    position: absolute;
    top: 74%;
    left: 45%;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
    cursor: pointer;
    transition: 0.8s linear;
}
.objectPointingArrowToTheChest {
    position: absolute;
    top: 58%;
    left: 45%;
    transform: rotateZ(-30deg);
    display: none;
    opacity: 0;
    cursor: pointer;
    transition: 0.8s linear;
}
.objectPointingArrowOutOfChest {
    position: absolute;
    top: 88%;
    /* left: 45%; */
    transform: rotateZ(180deg);
    display: block;
    opacity: 1;
    cursor: pointer;
    transition: 0.8s linear;
}
.objectPointingArrowAtFather {
    position: absolute;
    top: 54%;
    left: 85%;
    transform: rotateZ(67deg);
    display: block;
    opacity: 1;
    cursor: pointer;
    transition: 0.8s linear;
}

#afterOneyYear {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: absolute;
    text-transform: uppercase;
    font-size: 90px;
    opacity: 0;
}
    
    